<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" :key="bird"/>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="data in animals">
          {{ data }}
      </li>
    </ul>

    <hr>

    <ul>
      <li v-for="ani in people">
        <div v-for="(value, key) in ani">
             {{ key }} : {{ value }}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            animals: ['Kucing', 'Kelinci', 'Ayam', 'Anggsa'],
            people: [
                { name: 'Rezky', age: 26 },
                { name: 'Andi', age: 18 },
                { name: 'Budi', age: 33 }
            ]
        }
    }
}).mount('#app');

  </script>
</body>

</html>