<!DOCTYPE html>
<html>

<head>
    <title>VueJS Course</title>
    <style>

    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <label >Role</label> <br>
        <select v-model="makan" id="">
            <option value="1">Imposter</option>
            <option value="2">Crew</option>
    </select>
    
    <p v-if="makan == '1' ">Tugas Anda adalah untuk membunuh semua Crew</p>
    <p v-else-if="makan == '2' ">Anda Bertugas untuk menyelesaikan semua task dan jangan sampai terbunuh</p>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            makan:0
        }
    }

    }).mount('#app');
  </script>
</body>

</html>